@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --color-orange : hsl(31, 77%, 52%);
    --color-dark-cyan: hsl(184, 100%, 22%);
    --color-Very-dark-cyan: hsl(179, 100%, 13%);

    --color-white : hsla(0, 0%, 100%, 0.75);
    --color-Very-light-grey: hsl(0, 0%, 95%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-size: 15px;
}

.container {
    margin-top: 88px;
    margin-bottom: 88px;
}
.row {
    margin: 0;
}

.card-1,
.card-2,
.card-3 {
    height: 450px;
    max-width: 350px;
}

h1 {
    font-family: Big Shoulders Display, sans-serif;
    text-transform: uppercase;
    color: var(--color-Very-light-grey);
    margin-top: 35px;
    margin-left: 45px;
}

p {
    font-family: Lexend Deca, sans-serif;
    color: var(--color-white);
    font-weight: 400;
    margin-top: 35px;
    margin-right: 55px;
    margin-left: 45px;
    line-height: 1.6;
    letter-spacing: .5px;
}

img {
    margin-top: 45px;
    margin-left: 45px;
}

button {
    width: 140px;
    height: 45px;
    margin-top: 25px;
    margin-left: 45px;
    font-family: Lexend Deca;
    letter-spacing: 1px;
    border-radius: 40px;
    background: var(--color-Very-light-grey);   
    border: none; 
    outline: none !important;
}

button:hover {
    cursor: pointer;
}


.Btn1 {
    color: var(--color-orange)
}

.Btn2 {
    color: var(--color-dark-cyan)
}

.Btn3 {
    color: var(--color-Very-dark-cyan);
}

.Btn1:active {
    color: var(--color-Very-light-grey);
    background-color: var(--color-orange);
    border: 2.5px solid hsla(0, 0%, 100%, 0.75);
}

.Btn2:active {
    color: var(--color-Very-light-grey);
    background-color: var(--color-dark-cyan);
    border: 2.5px solid hsla(0, 0%, 100%, 0.75);
}

.Btn3:active {
    color: var(--color-Very-light-grey);
    background-color: var(--color-Very-dark-cyan);
    border: 2.5px solid hsla(0, 0%, 100%, 0.75);
}

.card-1 {
    background-color: var(--color-orange);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card-2 {
    background-color: var(--color-dark-cyan);
}

.card-3 {
    background-color: var(--color-Very-dark-cyan);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

/* Media Queries */

@media (min-width: 376px) {
    .card-1,
    .card-2,
    .card-3 {
        max-width: 550px;
    }

    button {
        margin-top: 30px;
    }
}

@media (min-width: 576px) {
    .card-1,
    .card-2,
    .card-3 {
        max-width: 550px;
    }

    button {
        margin-top: 40px;
    }
}

@media (min-width: 768px) {
    .card-1,
    .card-2,
    .card-3 {
        max-width: 875px;
    }

    button {
        margin-top: 55px;
    }
}

@media (min-width: 992px) {
    .card-1,
    .card-2,
    .card-3 {
        max-width: 950px;
    }
}

@media (min-width: 1200px) {
    .container {
        margin-top: 170px;
    }
    .flex {
        display: flex;
        flex-direction: row;
    }

    .ran{
        padding: 0;
    }

    .card-1,
    .card-2,
    .card-3 {
        height: 500px;
    }

    .card-1 {
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        border-top-right-radius: 0;
    }

    .card-3 {
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 0;   
    }

    button {
        margin-top: 80px;
    }

}

