@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --color-orange : hsl(31, 77%, 52%);
    --color-dark-cyan: hsl(184, 100%, 22%);
    --color-Very-dark-cyan: hsl(179, 100%, 13%);

    --color-white : hsla(0, 0%, 100%, 0.75);
    --color-Very-light-grey: hsl(0, 0%, 95%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-size: 15px;
}

.container {
    margin-top: 13.5rem;
    margin-bottom: 88px;
    border-radius: 25px;
}

.card {
    border: none;
}
 
.card-body {
    height: 440px;
    display: flex;
    flex-direction: column;
}

.card-body h1    {
    color: var(--color-Very-light-grey);
    font-family: Big Shoulders Display, sans-serif;
    margin-top: 35px;
    margin-left: 45px;
    margin-bottom: 0;
    text-transform: uppercase;
}

.card-body p {
    color: var(--color-white);
    font-size: 15px;
    font-family: Lexend Deca, sans-serif;
    margin-left: 45px;
    margin-top: 25px;
    margin-right: 55px;
}

.card img {
    width: 70px;
    height: 44px;
    margin-top: 15px;
    margin-left: 45px;
}

.row .card1 {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.row .card3 {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.Bt {
    width: 140px;
    height: 45px;
    margin-top: 35px;
    margin-left: 45px;
    font-family: Lexend Deca;
    font-size: 15px;
    color:var(--color-orange);
    letter-spacing: 1px;
    line-height: 15px;
    border-radius: 40px;
    border: none;
    background: var(--color-Very-light-grey);
    outline: none !important;
}

.bt1:hover {
    outline: none;
    color: var(--color-white);
    background:var(--color-orange);
    border: 2.5px solid hsla(0, 0%, 100%, 0.75);
}

.bt2 {
    color: var(--color-dark-cyan);
}

.bt2:hover {
    outline: none;
    color: var(--color-white);
    background: var(--color-dark-cyan);
    border: 2.5px solid hsla(0, 0%, 100%, 0.75);
}

.bt3 {
    color: var(--color-Very-dark-cyan);
}

.bt3:hover {
    outline: none;
    color: var(--color-white);
    background: var(--color-Very-dark-cyan);
    border: 2.5px solid hsla(0, 0%, 100%, 0.75);
}
  
.bg-color1 {
    background-color: var(--color-orange);
}

.bg-color2 {
    background-color: var(--color-dark-cyan);
}

.bg-color3 {
    background-color: var(--color-Very-dark-cyan);
}

@media (min-width: 576px) {

    .card {
        margin-top: 7rem;
        height: 500px;
    }

    .card-body h1 {
        margin-top: 20px;
        margin-left: 30px;
    }

    .card-body p {
        font-size: 12px;
        margin-left: 30px;
    }

    .card-body img {
        margin-left: 30px;
    }

    .row .card1 {
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        border-top-right-radius: 0;
    }
    
    .row .card3 {
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 0px;
    }

    .card button {
        margin-left: 30px;
        width: 125px;
        margin-top: 70px;
    }

    .card-body .bt3 {
        margin-top: 50px;
    }
}

@media (min-width: 992px) {

    .row .card {
        height: 550px;
    }
    
    .row .card1 {
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        border-top-right-radius: 0;
    }

    .row .card3 {
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 0px;
    }

    .card-body img {
        margin-left: 45px;
    }

    .card-body h1 {
        margin-top: 35px;
        margin-left: 45px;
    }

    .card-body p {
       font-size: 17px;
       margin-top: 30px;
       margin-left: 45px;
    }

    .card button {
        width: 145px;
        margin-top: 70px;
        margin-left: 45px;
    }

    .card-body .bt1 {
        margin-top: 120px;
    }

    .card-body .bt2 {
        margin-top: 120px;
    }

    .card-body .bt3 {
        margin-top: 120px;
    }
}

